[Desktop Entry]
Encoding=UTF-8
Name=Nestopia
Comment=A portable open source NES/Famicom emulator
Exec=nestopia.sh
Icon=Nestopia.png
Terminal=false
Type=Application
Categories=Game;Emulator;

